/* src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

.navbar-border {
  border: 5px solid black;
}

.bold-large-text {
  font-size: 1.5rem; 
  font-weight: bold;
}

.padding-top{
   padding-top:2%;
}

.padding-right{
  padding-right: 5%;
}

.padding-around{
  padding-top: .5%;
  padding-left: .5%;
  padding-right: .5%;
  padding-bottom: .5%;
}

.main-introduction-font-size{
  font-size: 400%;
  font-weight: bolder;
}

.center-text {
  text-align: center;
  margin: 0 auto; 
}

.container-size{
  width: 50%;
}


.main-introduction-container-size{
  width: 70%;
}

.container-padding-top{
margin-top: 50px;
}

.card-design-container{
  width: 70%;
  padding-top: 3%;
   display: flex;
  column-gap: 20px;
  justify-content: space-between;
}

.footer-design-container{
  width: 70%;
  padding-top: 3%;
  margin-bottom: 2%;
  
}

.box-design-container{
  width: 70%;
  padding-top: 1%;
}

.secondary-introduction-font-size{
  font-size: 150%;
}

.third-introduction-font-size{
  font-size: 100%;
}

.third-intro-border-bottom{
  border-bottom: 5px solid black;
}

.showcase-font-size{
    font-size: 225%;
    font-weight: bold;
}

.button-style{
    width: 50%;
    font-size: 100%;
    font-weight: bold;
    text-align: center;
}

.align-left{
  float: left;
}

.box-designs{
  float: left;
  box-sizing: border-box;
  margin-right: 1%;
}

.card-designs{
   float: left;
  box-sizing: border-box;
  padding: 1%;
  margin-right: 1%;
  height: 100%;
}

.showcase-design-container{
  width: 70%;
  padding-top: 3%;
   display: flex;
  justify-content: space-between;
}

.showcase-designs{
  box-sizing: border-box;
  width: 90%;
   font-size: 225%;
    font-weight: bold;
}

.left-scroll-designs{
  box-sizing: border-box;
    width: 5%;
  margin-right: .5%;
}

.right-scroll-designs{
  box-sizing: border-box;
    width: 5%;
}

.footer-designs{
   float: left;
  box-sizing: border-box;
  width:33.3%;
}

.footer-icons-designs{
   float: left;
  box-sizing: border-box;
  width:33.3%;
  text-align: right;
}

.footer-signature-designs{
   float: left;
  box-sizing: border-box;
  width:33.3%;
  text-align: center;
}

.align-right{
  float: right;
  border: 5px solid black;
}

.button-container{
  width:10%
}

.icon-size{
  font-size: 300%;
}

.hire-me-style{
  font-size: 100%;
  padding: 1%;
  width:200%;
}

.hire-me-container{
   width: 100%;
   margin-top: 3%;
   margin-bottom: 9%;
}

.footingborder{
  border: 4px solid black;
  padding: 0;
  margin:0;
}

.navbar-design-container{
  width: 70%;
  display: flex;
  justify-content: space-between;
  padding-top: 2%;
  height: 100%;
}

.japanesename-design{
  box-sizing: border-box;
  width: 60%;
  text-align: left;
  font-size: 120%;
  padding: 0.5rem;
  height: 100%;
}

.navbar-designs{
  padding: 0.5rem;
  box-sizing: border-box;
  width: 10%;
  text-align: center;
  height: 100%;
}

.hire-me-navbar-designs{
  box-sizing: border-box;
  width: 10%;
  text-align: center;
  height: 100%;
}

.slider-padding{
  padding-top: 50px;
}
